.Title{
  display: flex;
  justify-content: center;
  background-color: #8fd0ec;
  max-width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  font-family:serif;
}